
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Baloo+Thambi');
.App {
  text-align: center;

}
.Logo{
  font-family: 'Abril Fatface', cursive;
}
.MainImage{
  width: 100%;
  height: auto;
  margin-top: 45px;
}
.FormHeader{
  background-color: #2090F9;
  padding: 10px;
}
.FromHeading{
  font-family: 'Julius Sans One', sans-serif;

}
.cards{
  padding: 20px;
  border-radius: 5px;
}

.form-group{
  border: 0.8px solid #c5bbbb;
  /* background-color: #cc2f2f; */
}
.CardTitle{
  font-size: 22px;
}
.CardDescription{
  font-size: 13px;
}


.form-groups{
  border:1px solid #c5bbbb;
  /* padding: 20px; */
  margin:10%;
}
.formInput{
  margin-top: 7px;
}
.FormContent{
  background-color: #FFFFFF;
  padding: 15px;
  height: 420px;
}

.FromHeading{
  color: white;
  font-weight: 700;
  padding: 5px;
}

.cardMargin{
  margin-top: 20px;
}
.featuredText{
  color: #880B13;
  text-align: right;
  font-weight: 700;
  font-family: sans-serif;
}
.divider{
  height: 10px;
  margin: 30px
}
.imageSliderContainer{
  margin-bottom: 50px;
}
.imageSliderContainers{
  padding-bottom: 50px;
  margin-top: 50px;
}
.VideoSliderContainers{
  background-image: url("./assests//Images//background.jpg"); /* The image used */
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.FormContainer{
  margin: 50px;
}
@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 800px) {
  .FormContainer{
    margin: 30px;
  }
}

@media screen and (max-width: 600px) {
  .FormContainer{
    margin: 20px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .FormContainer{
    margin: 15px;
  }
}